@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

.small-scrollbar::-webkit-scrollbar {
  height: 10px;
}

/* Hide scrollbar but keep layout space */
.hide-scrollbar {
  overflow: hidden;
  /* Adjust based on scrollbar width */
  padding-right: 12px;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
  /* Adjust width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  /* Color of the scrollbar thumb */
  border-radius: 8px;
  /* Round the edges of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.scrollable-element {
  scrollbar-width: thin;
  /* Set scrollbar width */
  scrollbar-color: #888 #f1f1f1;
  /* Thumb and track color */
}
